{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    {% block header %}
    <header class="bg-primary text-white py-3 d-flex align-items-center">
        <div class="ml-5">
            <img src="{% static 'images/logo.svg' %}" alt="Logo" style="height: 50px; width:160px;">
        </div>
        <h1 class="mx-auto">Система управления персоналом</h1>
        <form method="post" action="{% url 'logout' %}" class="mr-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger d-flex align-items-center">
                <img src="{% static 'images/logout.svg' %}" alt="Logout" style="height: 24px;" class="mr-2">
                Выйти
            </button>
        </form>
    </header>
    {% endblock %}
    <div class="d-flex flex-grow-1">
        {% block sidebar %}
        <nav class="text-white p-3 border-right d-flex flex-column align-items-center" style="width: 250px; min-height: 100vh; background-color: #007bff;">
            <div class="d-flex align-items-center mb-4">
                <img src="{% static 'images/navigation_logo.svg' %}" alt="Manager logo" class="mr-2" style="width: 24px; height: 24px;">
                <h2 class="text-center mb-0">Навигация</h2>
            </div>
            <div class="d-flex w-100 mb-3">
                <button onclick="history.back()" class="btn btn-success w-50 mr-1">&#8592; Назад</button>
                <button onclick="history.forward()" class="btn btn-success w-50 ml-1">Вперед &#8594;</button>
            </div>
            {% if user_role == 'employee' %}
                <a href="{% url 'employee_dashboard' %}" class="btn btn-info d-block py-2 text-left mb-3 w-100">
                    <img src="{% static 'images/person_page.svg' %}" alt="Employee Dashboard Icon" class="mr-2" style="width: 20px; height: 20px;">
                    Личная страница
                </a>
                <a href="{% url 'department_view' department_id=request.user.department.id %}" class="btn btn-info d-block py-2 text-left mb-3 w-100">
                    <img src="{% static 'images/department_page.svg' %}" alt="Department  Icon" class="mr-2" style="width: 20px; height: 20px;">
                    Просмотреть отдел
                </a>
            {% endif %}
            {% if user_role == 'manager' %}
                <a href="{% url 'manager_dashboard' %}" class="btn btn-info d-block py-2 text-left mb-3 w-100">
                    <img src="{% static 'images/person_page.svg' %}" alt="Manager Dashboard Icon" class="mr-2" style="width: 20px; height: 20px;">
                    Личная страница
                </a>
                <a href="{% url 'department_view' department_id=request.user.department.id %}" class="btn btn-info d-block py-2 text-left mb-3 w-100">
                    <img src="{% static 'images/department_page.svg' %}" alt="Department  Icon" class="mr-2" style="width: 20px; height: 20px;">
                    Просмотреть отдел
                </a>
                <a href="{% url 'create_task' %}" class="btn btn-info d-block py-2 text-left mb-3 w-100">
                    <img src="{% static 'images/create_task.svg' %}" alt="Create Task" class="mr-2" style="width: 20px; height: 20px;">
                    Создать задачу
                </a>
                <a href="{% url 'review_tasks' %}" class="btn btn-info d-block py-2 text-left mb-3 w-100">
                    <img src="{% static 'images/review_tasks.svg' %}" alt="Review Tasks" class="mr-2" style="width: 20px; height: 20px;">
                    Проверить задачи
                </a>
            {% endif %}
        </nav>
        {% endblock %}
        <main class="flex-grow-1 p-4">
            {% block content %}
            {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
